name: C/C++ CI

on:
  push:
    branches:
      - github-actions

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Submodules
      run: git submodule update --init --recursive
    - name: Install dependencies
      run: ./scripts/travis-ci-before-install-linux.sh bionic
    - name: Dependency fixup
      run: sudo apt-get install qt5-default gettext
    - name: Build and test
      run: ./scripts/travis-ci.sh
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v1
